[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/multicall3"]
	path = lib/multicall3
	url = https://github.com/mds1/multicall3.git
[submodule "lib/labs-poc"]
	path = lib/labs-poc
	url = git@github.com:consenlabs/labs-poc.git
